{% if include.lookup %}
  {% assign resource = site.resources 
    | where_exp: "resource", "resource.slug == include.lookup"
    | first
    | default: include
  %}
{% else %}
  {% assign resource = include %}
{% endif %}

<div class="post-excerpt-container">
  <div class="post-excerpt">
    {% assign url = resource.url | relative_url | uri_escape %}
    {% assign title = resource.title %}
    {% assign image = resource.image | relative_url | uri_escape %}

    {% if image %}
      <a
        href="{{ url }}"
        class="post-excerpt-image"
        aria-label="{{ title | default: "excerpt link" | regex_strip }}"
      >
        <img
          src="{{ image }}"
          alt="{{ title | default: "excerpt image" | regex_strip }}"
          loading="lazy"
          {% include fallback.html %}
        >
      </a>
    {% endif %}

    <div class="post-excerpt-text">
      <a href="{{ url }}">{{ title }}</a>

      {%
        include post-info.html
        tags=resource.tags
      %}

      {% assign excerpt = resource.content
        | default: ""
        | regex_scan: "<!-- excerpt start -->(.*)<!-- excerpt end -->", true
        | default: resource.excerpt
        | default: ""
        | strip_html
      %}
      {% assign search = resource.content
        | strip_html
        | strip_newlines
        | regex_strip
      %}
      <p data-search="{{ search }}">
        {{ excerpt }}
      </p>
    </div>
  </div>
</div>
